.body {
    font-family: Arial, Helvetica, sans-serif;
}
.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}
  main.container {
      margin-top: 4rem;
  }
  article {
      margin-right: 20px;
  }
  @media (max-width: 768px) {
      article {
      margin-right: 20px;
      margin-left: 20px;
    }
}
#asides .card-body img {
    max-width: 100%;
    height: auto;
}
#blogposts h3 {
    margin-right: 20px;
}