{{ define "main" }}
{{ partial "blog-header.html" . }}
<main class="container">
	<div class="row g-2" id="blogposts">
		<div class="col-md-8">
			<article class="blog-post">
				<div class="card border-light px-2 py-2">
		<h1 class="card-title blog-post-title">{{ .Title }}</h1>

				 {{ .Content }}

	<div class="card-footer">
						<small class="text-muted">Last modified on: <a href="{{ .Permalink }}" title="{{ .Title }}" datetime="{{ .Lastmod.Format "2006-01-02 15:04:05 -0700" }}" class="dt-published">{{ .Lastmod.Format "January 2, 2006" }}</a></small>
	 </div>
</div>
			</article>
		</div>

	{{ partial "sidebar-home.html" . }}

	</div>
</main>
{{ partial "footer.html" . }}

{{ end }}