<!-- Footer -->	  
<footer class="blog-footer bg-dark text-white">
    <div>
        <p>{{ .Site.Params.description | safeHTML }}</p>
    </div>
    <p><a href="https://github.com/endonend/Hains-Point">Hain's Point</a> theme built using <a href="https://getbootstrap.com/">Bootstrap</a> by <a href="https://micro.blog/endonend">@endonend</a> for <a href="https://micro.blog/">Micro.blog</a>.</p>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<script src="{{ "assets/js/js.js" | relURL }}?{{ .Site.Params.theme_seconds }}"></script>

<!-- Plausible Data Analytics Form JS -->	
<script>
      let buttons = document.querySelectorAll("button[data-analytics]");
      for (var i = 0; i < buttons.length; i++) {
          buttons[i].addEventListener('click', handleFormEvent);
          buttons[i].addEventListener('auxclick', handleFormEvent);
      }
    
      function handleFormEvent(event) {
          event.preventDefault();
          let attributes = event.target.getAttribute('data-analytics').split(/,(.+)/);
          let events = [JSON.parse(attributes[0]), JSON.parse(attributes[1] || '{}')];
          plausible(...events);
          setTimeout(function () {
              event.target.form.submit();
          }, 150);
      }
    </script>

{{ range .Site.Params.plugins_js }}
    <script src="{{ . }}"></script>
{{ end }}
