<!-- Sidebar -->
<div class="col-md-4">
  <div class="position-sticky" style="top: 3rem;">
    <div class="p-4 mb-3 bg-warning bg-gradient rounded">
      {{ with .Site.Params.about_blurb }}
      <h4><i class="bi-megaphone-fill" role="img" aria-label="About this Site"></i> About</h4>
      <p class="mb-1">{{ . }}</p>
      {{ end }}
      {{ with .Site.Params.about_more_url }}
      <p><a href="{{ . }}">Learn More</a></p>
      {{ end }}
      {{ with .Site.Params.enable_newsletter }} 
      <h5 class="fst-italic">Subscribe to the newsletter</h5>
      <form method="POST" action="https://micro.blog/users/subscribe/61826" class="row g-3">
            <input type="text" class="form-control" name="email" size="30" placeholder="Your email address" /> 
            <input type="submit" class="btn btn-dark" value="Subscribe" />
      </form>
      {{ end }}
      <p class="pt-2"><strong>Elsewhere:</strong> <a href="{{ .RSSLink }}"><i class="bi-rss-fill" role="img" aria-label="RSS"></i> RSS</a>,
      {{ with .Site.Params.twitter_username }} 
      <a href="https://twitter.com/{{ . }}"><i class="bi-twitter" role="img" aria-label="Twitter"></i> Twitter</a>,
      {{ end }} 
      {{ with .Site.Params.instagram_username }}
      <a href="https://instagram.com/{{ . }}"><i class="bi-instagram" role="img" aria-label="Instagram"></i> Instagram</a>  
      {{ end }}
      </p>	        
    </div>
<!-- Asides section -->
    <div class="p-4" id="asides">
      <h4 class="pb-2 mb-4 border-bottom"><i class="bi-sticky-fill" role="img" aria-label="Quick Posts"></i> Asides</h4>
      {{ $list := where .Data.Pages.ByDate.Reverse (union "Type" "post" ".Title" "==" nil) }}
      {{ range first 3 ($list)  }}
        <div class="card mb-2" style="width: 100%;">
            <div class="card-body">
                {{ .Content }}
                <p class="card-subtitle mb-2 text-muted"><a href="{{ .Permalink }}" title="{{ .Title }}" datetime="{{ .Date.Format "2006-01-02 15:04:05 -0700" }}" class="dt-published">{{ .Date.Format "January 2, 2006" }}</a></p>
            </div>
        </div>
      {{ end }}
      <div class="mb-4 pl-2">
          <p><a href="#">More Asides</a></p>
          {{ with .Site.Author.username }} <!-- Micro.blog is the author's username -->
          <p><a href="https://micro.blog/{{ . }}">Follow me on Micro.blog</a></p>
          {{ end }}
      </div>
    </div>
  </div>
</div>